/*all pages*/
body{
  background-color: rgb(224, 255, 257);
}

#navbar-container{
  width: 100%;
  float: left;
  position: relative;
  border: 4px dotted cadetblue;
}

#navbar{
  background-color: #b9deea;
  overflow: hidden;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  left: 50%;
  float: left;
  position: relative;
  padding: 0;
}

#navbar ul li{
  float: left;
  position: relative;
  right: 50%;
}

#navbar ul li a{
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: cadetblue;
}

#navbar ul li a:hover{
  background-color: rgb(70,130,160);
  color: white;
}

#navbar a{
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 18px;
}

#onpage{
  text-decoration: underline cadetblue 3px;
}

#div{
  display: block;
}
/*first page*/
.border-top{
  border-top: 2px solid #568f8f;
  position: absolute;
  left: 0px;
  top: 0;
  width: 50%;
  height: 5px;
}
.border-bottom{
  border-bottom: 2px solid #568f8f;
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 50%;
  height: 15px;
}

#hobbies{
  margin-left: 5em;
  margin-top: 3em;
  margin-bottom: 5em;
}

#resume{
  width: 1500px;
  margin-left: 125px;
}

#personal-info, #education, #work, #skill, #certificate{
  
  border-color: #568f8f;
  margin-left: 1em;
  position: relative;
  padding: .2em 0em .2em 1.5em;
}

#resume h2, #resume h1{
  color: #568f8f;
}

#resume h1{
  font-size: 60px;
  margin-left: 25px;
}

#resume h2{
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 1em;
}

#skill ul, #certificate ul{
  list-style-type: circle;
  padding-left: .5em;
}

.period{
  font-style: italic;
  font-size: 14px;
}

#resume h3, #resume p, #resume li, #resume a{
  opacity: 0.8;
  color: #774828;
}

#resume a{
  text-decoration: none;
  font-style: italic;
}

/*second page*/
.images{
  height: 300px;
  float: none;
  position: relative;
  align-items: center;
  margin-top: 10px;
}

#hobbies img:hover{
  border: 10px white solid;
  height: 350px;
  width: auto;
  transition: height 1s, width 1s;
  transition-timing-function: ease-out;
}

#firstrow, #secondrow, #origami-img, #playdoh-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  float: none;
}

#drawing img{
  width: 235px;
}

#playdoh-img img{
  width: 240px;
}


#hobbies{
  margin-right: 5em;
  font-family: Garamond;
  text-align: center;
}

#hobbies h1, #hobbies h2{
  color: #609f60;
}

#intro{
  color: brown;
  font-style: italic;
  text-align: center;
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-family: monospace;
  opacity: .7;
  padding-bottom: 1em;
}


.description{
  opacity: 0.7;
  color: brown;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hobbies h2{
  padding-top: 2em;
  padding-bottom: 7px;
}

/*third page*/
#catpage{
  text-align: center;
  background-color: #ffece6;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#catpage img, #catpage video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#catpage img, #catpage video{
  border: 5px dashed cadetblue;
  border-radius: 25px;
  animation-name: catpic-border;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/*add animation to the border of the cat images*/
@keyframes catpic-border{
  0%  {border-color: #f8d3dc;}
  20% {border-color: #f1a7b9;}
  40% {border-color: #ea7b97;}
  60% {border-color: #ee91a8;}
  80% {border-color: #f1a7b9;}
  100%{border-color: #f8d3dc;}
}

#catpage img{
  width: 500px;
}

#catpage video{
  width: 600px;
}

#catpage p{
  font-size: 18px;
  font-family: "Tilt Neon", Monaco;
  display: block;
  padding: 20px 0px 20px 0px;
}

#catpage h1{
  font-size: 35px;
  font-family: "Tilt Neon", Monaco;
  font-weight: bold;
  margin: 0;
  padding-top: 1em;
}

#endnote{
  margin: 0;
}
