/*all pages*/
body{
  background-color: rgb(224, 255, 257);
}

#navbar-container{
  width: 100%;
  float: left;
  position: relative;
  border: 4px dotted cadetblue;
}

#navbar{
  background-color: #b9deea;
  overflow: hidden;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  left: 50%;
  float: left;
  position: relative;
  padding: 0;
}

#navbar ul li{
  float: left;
  position: relative;
  right: 50%;
}

#navbar ul li a{
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: cadetblue;
}

#navbar ul li a:hover{
  background-color: rgb(70,130,160);
  color: white;
}

#navbar a{
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 18px;
}
/*first page*/

/*second page*/
.images{
  height: 300px;
  float: none;
  padding: 10px 5px 30px 30px;
}

#firstrow, #secondrow, #origami, #playdoh{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#secondrow img{
  width: 235px;
}

#playdoh img{
  width: 250px;
}

#origami img{
  padding: 10px 10px 30px 40px;
}
/*third page*/