/*all pages*/
body{
  background-color: rgb(224, 255, 257);
}

#navbar-container{
  width: 100%;
  float: left;
  position: relative;
  border: 4px dotted cadetblue;
}

#navbar{
  background-color: #b9deea;
  overflow: hidden;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  left: 50%;
  float: left;
  position: relative;
  padding: 0;
}

#navbar ul li{
  float: left;
  position: relative;
  right: 50%;
}

#navbar ul li a{
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: cadetblue;
}

#navbar ul li a:hover{
  background-color: rgb(70,130,160);
  color: white;
}

#navbar a{
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 18px;
}

#onpage{
  text-decoration: underline cadetblue 3px;
}

#div{
  display: block;
}
/*first page*/
#resume, #hobbies, #catpage{
  margin-left: 5em;
  margin-top: 3em;
  margin-bottom: 5em;
}

#resume{
  width: 900px;
}

/*second page*/
.images{
  height: 300px;
  float: none;
  padding: 10px 5px 30px 30px;
  position: relative;
}

#firstrow, #secondrow, #origami-img, #playdoh-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  float: none;
}

#secondrow img{
  width: 235px;
}

#playdoh-img img{
  width: 240px;
  height: 300px;
}

#origami-img img{
  padding: 10px 5px 30px 45px;
}

#hobbies{
  margin-right: 5em;
  font-family: Garamond;
}

#hobbies h1, #hobbies h2{
  color: #609f60;
}

#intro{
  color: darkseagreen;
  font-style: italic;
}

#hobbies h1{
  text-align: center;
}

#hobbies p{
  opacity: 0.7;
}

/*third page*/
#catpage{
  text-align: center;
}

#catpage img, #catpage video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#catpage img{
  width: 500px;
  border: 4px dashed cadetblue;
  border-radius: 25px;
}

#catpage video{
  width: 600px;
  border: 4px dashed cadetblue;
  border-radius: 25px;
}

#catpage p{
  font-size: 18px;
  font-family: "Tilt Neon", Monaco;
  display: block;
  padding: 20px 0px 20px 0px;
}

#catpage h1{
  font-size: 35px;
  font-family: "Tilt Neon", Monaco;
  font-weight: super bold;
}